{% for image in product.images %}{% endfor %}

<div class="custom-gallery-wrapper">
  <!-- Image container of the image slider -->
  <div class="image-container">
    {% for image in product.images %}
      <div class="slide">
        <a href={{ image | img_url: '500x' }} data-fancybox="gallery-a">
          <img
            class="custom-img"
            src={{ image | img_url: '500x' }}
            alt={{ image.alt }}>
        </a>
      </div>
    {% endfor %}
  </div>

  <div class="thumbnail-wrapper">
    <div class="thumbnail-container">
      {% for image in product.images %}
        <button class="custom-thumbnail" onclick="activeSlide({{ forloop.index }})">
            <img
            class="custom-img"
            src={{ image | img_url: 'medium' }}
            alt={{ image.alt }}>
        </a>
        </button>
      {% endfor %}
      {% comment %} <button class="thumbnail" onclick="activeSlide(1)">
        <img class="custom-img" src="https://www.geeksforgeeks.org/wp-content/uploads/html-768x256.png">
        </button>
        <button class="thumbnail" onclick="activeSlide(2)">
        <img class="custom-img" src="https://www.geeksforgeeks.org/wp-content/uploads/CSS-768x256.png">
        </button>
        <button class="thumbnail" onclick="activeSlide(3)">
        <img class="custom-img" src="https://www.geeksforgeeks.org/wp-content/uploads/jquery-banner.png">
      </button> {% endcomment %}
    </div>

    <a class="previous" onclick="moveSlides(-1)">
      <i class="fa fa-chevron-circle-left"></i>
    </a>
    <a class="next" onclick="moveSlides(1)">
      <i class="fa fa-chevron-circle-right"></i>
    </a>
  </div>
</div>