<section class="page-width section-{{ section.id }}-padding" style="padding: 4rem 15px;">
  {{ 'custom-newsletter.css' | asset_url | stylesheet_tag }}

  <script src="{{ 'custom-newsletter.js' | asset_url }}" defer="defer"></script>

  <div class="custom-newsletter-wrapper">
    <h2
      class="custom-newsletter-header">{{ section.settings.heading }}</h2>
    <span class="custom-newsletter-subheader">{{ section.settings.subheading }}</span>

    {%- assign newsletter_id = 'newsletter-' | append: section.id -%}
    {%- form 'customer', id: newsletter_id, class: 'custom-email-form' -%}
      <div class="input-control">
        <div class="custom-form-main">
          <label
            for="custom-email-input"
            aria-hidden="Email input"
            hidden></label>
          <input
            name="contact[tags]"
            type="text"
            id="email"
            placeholder="{{ section.settings.placehoder_text }}" />
          <button type="submit" class="custom-submit-btn">
            {% render 'custom-icon-arrow-right' %}
          </button>
        </div>
        {% if form.errors %}
          <span class="error">
            {{ form.errors | default_errors }}
          </span>
        {% endif %}
      </div>
    {% endform %}
  </div>
</section>

{% schema %}
  {
    "name": "Newsletter section",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Section heading",
        "default": "Inscrivez-vous à notre newsletter"
      }, {
        "type": "text",
        "id": "subheading",
        "label": "Section subheading",
        "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, magnam?"
      }, {
        "type": "text",
        "id": "placehoder_text",
        "label": "Section placeholder text",
        "default": "Adresse e-mail"
      }
    ],
    "presets": [
      {
        "name": "Newsletter section"
      }
    ]
  }
{% endschema %}