<!-- Import du fichier CSS -->
{{ 'custom-footer.css' | asset_url | stylesheet_tag }}

{% style %}
  .custom-footer-width {
    margin: 0;
    padding: 32px 0;
  }

{% endstyle %}

{% liquid
  comment 
    Vérifie si la section contient des liens vers les réseaux sociaux 
  endcomment
  assign has_social_icons = true

  if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
  assign has_social_icons = false
  endif
%}

  <footer class="footer custom-footer-width section-{{ section.id }}-padding custom-border-top">
    <!-- Affichage de la main section du footer -->
    <div class="custom-footer-container">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'image' -%}
            <div class="custom-footer-logo-container">
              <div style="max-width: min(100%, {{ block.settings.image_width }}px);">
                <!-- Affichage de l'image avec une taille personalisée -->
                <img
                  src="{{ block.settings.image | img_url:  width: block.settings.image_width }}"
                  alt="{{ block.settings.image.alt | escape }}"
                  loading="lazy"
                  width="{{ block.settings.image_width }}">
              </div>
              <!-- Si le compte contient des liens vers les réseaux sociaux, on les affiche -->
              {% if has_social_icons == true %}
                {% render 'custom-social-icons' %}
              {% endif %}
            </div>
          {%- when 'link_list' -%}
          {%- if block.settings.menu != blank -%}
            <nav class="custom-footer-link-container">
              <!-- Affichage du menu selectionné -->
              {%- for link in block.settings.menu.links -%}
                <ul class="list-unstyled custom-link-group">
                  <li class="custom-footer-link-header">
                    <!-- Lien vers la page -->
                    <a href="{{ link.url }}" title="{{ link.title }}">
                      {{ link.title }}
                    </a>
                  </li>
                  <!-- Si le lien contient des sous-liens, on les affiche -->
                  {% if link.links != blank %}
                    <ul class="list-unstyled">
                      <!-- For loop pour parcourir tout les sous-liens -->
                      {%- for child_link in link.links -%}
                        <li class="custom-footer-links">
                          <!-- Lien vers la page -->
                          <a href="{{ child_link.url }}" title="{{ child_url.title }}">
                            {{ child_link.title }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {% endif %}
                </ul>
              {%- endfor -%}
            </nav>
          {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>
    <!-- Affichage du bottom_menu -->
    <div class="custom-bottom-footer-wrapper">
      {%- if section.settings.bottom_menu != blank -%}
        <nav class="custom-bottom-footer-link-container">
          <!-- For loop pour parcourir tout les liens du bottom menu -->
          {%- for link in section.settings.bottom_menu.links -%}
            <ul class="list-unstyled">
              <li class="custom-footer-links custom-grey-links">
                <!-- Lien vers la page -->
                <a href="{{ link.url }}">
                  {{ link.title }}
                </a>
              </li>
            </ul>
          {%- endfor -%}
        </nav>
      {%- endif -%}
      <!-- Affichage du texte de signature customisable -->
      <span class="custom-grey-links">
        {{ section.settings.signature_text }}
      </span>
    </div>
</footer>


{% schema %}
  {
    "name": "Footer",
    "class": "footer",
    "blocks": [
      {
        "type": "link_list",
        "name": "t:sections.footer.blocks.link_list.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Quick links",
            "label": "t:sections.footer.blocks.link_list.settings.heading.label"
          }, {
            "type": "link_list",
            "id": "menu",
            "default": "footer",
            "label": "t:sections.footer.blocks.link_list.settings.menu.label",
            "info": "t:sections.footer.blocks.link_list.settings.menu.info"
          }
        ]
      }, {
        "type": "image",
        "name": "Image",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "range",
            "id": "image_width",
            "min": 100,
            "max": 200,
            "step": 5,
            "unit": "px",
            "label": "Image width",
            "default": 145
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "link_list",
        "label": "Footer Pied de page",
        "id": "bottom_menu",
        "default": "footer"
      }, {
        "type": "text",
        "label": "Signature text",
        "id": "signature_text",
        "default": "Made by W3lead For Testing Purposes"
      }
    ]
  }
{% endschema %}