{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
    min-height: 375px;
    border-top: 1px solid black;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<footer class="footer section-{{ section.id }}-padding">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
        {%- when 'link_list' -%}
          {%- if block.settings.menu != blank -%}
          <div style="display: flex; gap: 1rem">
              <ul class="footer-block__details-content list-unstyled">
              {%- for link in block.settings.menu.links -%}
                <li>
                  <a href="{{ link.url }}">
                    {{ link.title }}
                  </a>
                </li>
                {% if link.links != blank %}
                  <ul class="footer-block__details-content list-unstyled">
                    {%- for child_link in link.links -%}
                      <li>
                        <a href="{{ child_link.url }}">
                          {{ child_link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {% endif %}
              {%- endfor -%}
            </ul>
          </div>
          
          {%- endif -%}
    {%- endcase -%}
  {%- endfor -%}
<div>
  <div></div>
</div>
<div>
</div>
</footer>


{% schema %}
{
  "name": "Footer",
  "class": "footer",
  "tag": "footer",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
